<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN" monitorInterval="600">
  <properties>
    <!-- 日志文件路径和文件名 -->
    <property name="logDir">/data/logs/curriculum-design-console</property>
    <property name="fileName">curriculum-design-web</property>
  </properties>

  <Appenders>
    <Console name="Console" target="SYSTEM_OUT">
      <PatternLayout pattern="%d [%t] [%level] %l - %m%n"/>
    </Console>

    <!-- RollingRandomAccessFileAppender，向文件输出日志 -->
    <!-- RandomAccessFileAppender使用NIO的RandomAccessFile类，比启用了buffered的普通FileAppender性能更好 -->
    <RollingRandomAccessFile name="File" fileName="${logDir}/${fileName}.log"
                             filePattern="${logDir}/${fileName}-%d{yyyy-MM-dd}-%i.log">
      <PatternLayout pattern="%d [%t] [%level] %l - %m%n"/>
      <Policies>
        <!-- 两重切分策略，每天切分，同时一天内日志达到100MB时切分 -->
        <TimeBasedTriggeringPolicy interval="1"/>
        <SizeBasedTriggeringPolicy size="100 MB"/>
      </Policies>
      <!-- 文件滚动策略nomax，代表一天内切分的日志文件数不受限制 -->
      <DefaultRolloverStrategy fileIndex="nomax"/>
    </RollingRandomAccessFile>
  </Appenders>

  <Loggers>
    <Root level="info">
      <AppenderRef ref="Console"/>
      <AppenderRef ref="File"/>
    </Root>

    <logger name="org.mybatis.spring" level="debug" additivity="false">
      <AppenderRef ref="Console"/>
      <AppenderRef ref="File" />
    </logger>

    <logger name="org.springframework.scheduling" level="info" additivity="false">
      <AppenderRef ref="Console"/>
      <AppenderRef ref="File"/>
    </logger>
    <logger name="com.mongodb.diagnostics" level="info" additivity="false">
      <AppenderRef ref="Console"/>
      <AppenderRef ref="File"/>
    </logger>
    <logger name="org.apache.axis2" level="info" additivity="false">
      <AppenderRef ref="Console"/>
      <AppenderRef ref="File"/>
    </logger>

  </Loggers>
</Configuration>