<?xml version="1.0" encoding="UTF-8"?>
<beans
    xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:p="http://www.springframework.org/schema/p"
    xmlns:context="http://www.springframework.org/schema/context"
    xmlns:mvc="http://www.springframework.org/schema/mvc"
    xmlns:aop="http://www.springframework.org/schema/aop"
    xmlns:tx="http://www.springframework.org/schema/tx"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
					    http://www.springframework.org/schema/beans/spring-beans-4.3.xsd
					    http://www.springframework.org/schema/context
					    http://www.springframework.org/schema/context/spring-context-4.3.xsd
					    http://www.springframework.org/schema/aop
					    http://www.springframework.org/schema/task
        				http://www.springframework.org/schema/task/spring-task-4.3.xsd
					    http://www.springframework.org/schema/aop/spring-aop-4.3.xsd
					    http://www.springframework.org/schema/tx/
					    http://www.springframework.org/schema/tx/spring-tx-4.3.xsd
					    http://www.springframework.org/schema/mvc
					    http://www.springframework.org/schema/mvc/spring-mvc-4.3.xsd">


    <context:component-scan base-package="top.aiome"></context:component-scan>


    <!-- 定时更新热点商品 -->
    <bean id="updateSeniorityJobClass" class="top.aiome.job.UpdateSeniorityJob" />
    <bean id="updateSeniorityJob"
          class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
        <property name="targetObject">
            <ref bean="updateSeniorityJobClass" />
        </property>
        <property name="targetMethod">
            <value>executeInternal</value>
        </property>
        <property name="concurrent">
            <value>false</value>
        </property>
    </bean>
    <bean id="updateSeniorityCronTrigger" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
        <property name="jobDetail" ref="updateSeniorityJob" />
        <property name="cronExpression" value="0 0/5 * * * ?" />
    </bean>
    <!-- 配置调度工厂 -->
    <bean name="schedulerFactory" lazy-init="false" class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
        <property name="triggers">
            <list>
                <!--<ref bean="updateSeniorityCronTrigger" />-->
            </list>
        </property>
    </bean>

</beans>
